<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuGoli_gKWSOu7Vo0UWwidzbIu9JGs_ms</string>
	<key>GCM_SENDER_ID</key>
	<string>56433400000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gorProject</string>
	<key>PROJECT_ID</key>
	<string>gor-project-b3aba</string>
	<key>STORAGE_BUCKET</key>
	<string>gor-project-b3aba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56433400000:ios:6299e1cfc47af6afbcf525</string>
</dict>
</plist>